.front_page_main{:style=>"border:1px solid red;"}
  .front_page_image_content{:style=>"border:1px solid red;"}
    #header_image_wrap{:style=>"border:1px solid red;"}
      / - if @photos.size > 1
      /   #header_image_0
      /   - @photos.each_with_index do |photo, i|
      /     ="<div id=\"header_image_#{i+1}\" class=\"header_image\" style=\"background-image: url(#{photo.image.url(:xlarge)}); background-position: -20px -20px;background-repeat:no-repeat;\"></div>"
      /     ="<div id=\"imaginary_image_#{i+1}\" style=\"display:none;\"><img src=\"#{photo.image.url(:xlarge)})\"/></div>"
      / - elsif @photo
      /   #static_header_image
      /     = image_tag @photo
    #header_image_cap{:style=>"border:1px solid red;"}  
  .front_page_text{:style=>"border:1px solid red;"}
    Front Page Text
  /   = @page.content
  / - if @account.settings.get(:general, :homepage_shows_status_updates)
  .front_page_bottom.clearfix{:style=>"border:1px solid red;"}
    .front_page_blog_wrap.clearfix
      .front_page_blog.clearfix
        .front_blog_image{:style=>"border:1px solid red;"}
          / = headshot(@account.bride, :medium) if @account.bride
        .front_blog_text{:style=>"border:1px solid red;"}
          Bride Blog Text
          / - if @account.bride
          /   = truncate(@account.bride.latest_entry, :length => 115)
      .front_page_blog.clearfix{:style=>"padding-right: 0px;"}
        .front_blog_image{:style=>"border:1px solid red;"}
          / = headshot(@account.groom, :medium) if @account.groom
        .front_blog_text{:style=>"border:1px solid red;"}
          Bride Blog Text
          / - if @account.groom
          /   = truncate(@account.groom.latest_entry, :length => 115)
/ %script
/   $(window).load(function () {slides(1,"#{@photos.size}");});